body {
  background: aliceblue;
}

h1 {
margin-left: 25vw;
margin-top: 20vh;
margin-bottom: 10vh
}

.cart {
  height: 50px;
  width: 150px;
  font-size: 28px;
}

form {
  display: flex;
  flex-direction: column;
}

.order-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

button {
  background: black;
  color: white;
  height: 46px;
}